//--- Main ---//
// bower:scss
// endbower

@import "variables";
@import "mixins";
@import "base";
@import "fontface";
@import "social";

%hrAfter {
  border-bottom: 1px solid rgba(#000,0.1);
  box-shadow: 0 1px 0 rgba(#fff,0.5);
  margin-bottom: 1em;
}

.header {
  @extend %hrAfter;
}

.filters {
  @include clearfix;
  @extend %hrAfter;
  padding-bottom: 1em;
  h2 {
    margin: 0.4em 0;
    font-size: 1.1em;
    em {
      font-weight: 400;
      display: inline-block;
      margin: 0 2em 0 0.5em;
    }
    a {
      font-weight: 400;
      display: none;
      float: right;
      font-size: 0.8em;
    }
  }
}
.filters_row {
  margin: 0.5em 0;
  padding-left: 1.5em;
  position: relative;
  @media (min-width: $m_smallish) {
    width: 33.33%;
    float: left;
    padding-right: 1em;
    &:last-child {
      padding-right: 0;
    }
  }
}
.filter_icon {
  position: absolute;
  left: 0;
  top: 0.7em;
  width: 0.9em;
  height: auto;
  vertical-align: middle;
  opacity: 0.7;
}

.issues {
  @include noList;
  @include clearfix;
}
.issue {
  max-height: 600px;
  background: $c_bg_alt;
  border-radius: 0.2em;
  box-shadow: 0 1px 2px rgba(#000,0.15);
  transition: box-shadow ease 0.2s;
  overflow: hidden;
  margin: 1em 0;
  &:hover {
    box-shadow: 0 1px 4px rgba(#000,0.2);
  }
  &.hidden {
    max-height: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
.issue_padding {
  padding: 0.8em 1.1em;
  h3 {
    display: inline;
    font-size: 1.1em;
    margin: 0 0 0.5em;
    font-weight: normal;
  }
}
.issue_id {
  display: inline-block;
  width: 2em;
  font-weight: bold;
}
.issue_icon {
  width: 0.9em;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
  opacity: 0.7;
}
.issue_meta {
  p {
    display: inline-block;
    font-size: 0.8em;
    margin: 0.3em 1em 0.3em 0;
  }
}

.footer {
  margin: 3em auto;
  text-align: center;
  p {
    font-size: 0.8em;
  }
}


// Grid mode:

$issue_width: 350px;
$issue_gap: 0.5em;

.grid .wrapper {
  max-width: none;
}

@media (min-width: #{2 * $issue_width}) {
  .grid .issues {
    margin-left: -$issue_gap;
    margin-right: -$issue_gap;
  }
  .grid .issue {
    float: left;
    width: 50%;
    padding: $issue_gap;
  }
  .grid .issue_padding {
    height: 120px;
    margin: 0;
  }
}
@for $i from 2 through 8 {
  @media (min-width: #{$i * $issue_width}) {
    .grid .issue {
      width: (100% / $i);
    }
  }
}

